<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8" />
		<title>Creative Jar Guidelines &bull; Living Style Guide <%= title %></title>
		<link rel="stylesheet" href="../CSS/Default.css">
		<link rel="stylesheet" href="Assets/CSS/Styleguide.css">
	</head>
	<body>
		<header class="sg-header">
			<div class="sg-container">
				<h1><img src="Images/Logo.png" alt="Creative Jar logo" /></h1>
				<nav class="sg-primary-nav">
					<ul>
						<li><a href="index.html" <% if file_name.include?('index.html') %>class="is-active"<% end %>>Home</a></li>
						<% @categories.each do |category| %>
							<% if category[0] != 'brand' %>
								<li><a href="<%= category[1] %>" <% if title == category[0] %>class="is-active"<% end %>"><%= category[0] %></a></li>
							<% end %>
						<% end %>
					</ul>
				</nav>
			</div>
		</header>
		<section class="sg-content sg-container">
			<nav class="l-sg-col-a sg-secondary-nav">
				<ul>
					<% @blocks.each do |b| %>
						<li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
					<% end %>
				</ul>
			</nav>
			<div class="l-sg-col-b">
				<div class="sg-module">