// ----------------------------------------
// Footer
// ----------------------------------------

footer[role=contentinfo] {
	background:								palette(neutral-grey, dark);
	color: 									palette(neutral);
	padding: 								.1px 0;
	text-align: 							center;
}