// ----------------------------------------
// Grid settings
// ----------------------------------------

$susy: (
	columns: 								12,
	math: 									fluid,
	output: 								float
);

// ----------------------------------------
// Set grid ontainer
// ----------------------------------------
.sg-container {
    @include 								container;
    max-width: 								1194px;
}