// ----------------------------------------
// Code Preview
// ----------------------------------------

.code-preview {
	margin:									0 gutter(9)*-1;
	&:last-child {
		@include							border-radius(0 0 5px 5px);
		margin-bottom: 						gutter(9)*-1;
		overflow: 							hidden;
	}
}